body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f8fc;
    color: #333;
}
nav{
    background-color: #008cff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin:0 18px;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover{
    color: #ffcc00;
}

header#intro h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
header#intro h3{
    font-weight: normal;
    margin-bottom: 20px;
}



section{
    padding: 40px 10%;
}
section p{
    margin-bottom: 15px;
    font-size: 1.05rem;
}

section h2{
    text-align: center;
    color: #008cff;
    margin-bottom: 25px;
}
section ul{
    list-style: disc;
    max-width: 700px;
    margin: 0 auto;
    padding-left: 20px;
}
section ul li{
    background: #fff;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transorm 0.2 ease;
}

section ul li:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

footer{ 
    background-color: #7a7171;
    width: 100%;
}
/* Add this to your style.css or a shared stylesheet */
nav a.active {
    color: #ffdd00;
    text-decoration: underline;
}

