
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6f8fa;
  color: #222;
  line-height: 1.6;
}

nav {
  background: #222;
  padding: 1.2rem 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-links li {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-links a:hover,
.nav-links li:hover {
  color: #ff5722;
  background: #333;
}

.schedule h2{
    margin-left: 40%;
    margin-top: 5%;
}


.table_of_schedule{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    background-color:#ece8e8;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border-collapse: collapse;
    margin-bottom: 5%;
}

.table_of_schedule th {
    background: #ffcdbe;
    color: black;
    padding: 12px;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid #ddd;

}



.table_of_schedule td {
  padding: 12px;
  border: 1px solid #ddd;
}

